Repository MagaluCloud/magalu, pull requests merged in 2024-12, with the labels that each got.

#1275 fix: removing plan modifiers from terraform fields with UseStateForUnkown that are dynamic
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_vm_instances.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_vm_snapshots.go
Labels: bug, terraform

#1279 chore: update upload-docs workflow to trigger on workflow_dispatch
  .github/workflows/upload-docs.yaml
Labels: pipeline

#1280 chore: remove public read permissions step from upload-docs workflow
  .github/workflows/upload-docs.yaml
Labels: pipeline

#1276 feat: dbaas datasources implemented (engines, instance-types, instaces and instance)
  mgc/terraform-provider-mgc/examples/data-sources/mgc_dbaas_engines/data-source.tf
  mgc/terraform-provider-mgc/examples/data-sources/mgc_dbaas_instance/data-source.tf
  mgc/terraform-provider-mgc/examples/data-sources/mgc_dbaas_instance_types/data-source.tf
  mgc/terraform-provider-mgc/examples/data-sources/mgc_dbaas_instances/data-source.tf
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_engines.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instance.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbass_instance_types.go
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/tfutil/mgc_common.go
  mgc/terraform-provider-mgc/tests/dbaas/main.tf
  mgc/terraform-provider-mgc/tests/dbaas/main.tftest.hcl
  mgc/terraform-provider-mgc/tests/dbaas/provider.tf
Labels: enhancement, terraform

#1288 feat: tf block storage volumes now allow rename
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/tests/block-storage/main.tf
Labels: enhancement, terraform

#1284 feat: add list of availability-zone
  mgc/cli/docs/profile/availability_zones/help.md
  mgc/cli/docs/profile/availability_zones/list/help.md
  mgc/cli/docs/profile/help.md
  mgc/cli/openapis/profile.openapi.yaml
  mgc/lib/products/profile/availability_zones/doc.go
  mgc/lib/products/profile/availability_zones/list.go
  mgc/lib/products/profile/availability_zones/service.go
  mgc/sdk/openapi/embed_loader.go
  mgc/spec_manipulator/cli_specs/conv.globaldb.openapi.yaml
  mgc/spec_manipulator/cli_specs/globaldb.openapi.yaml
Labels: cli

#1286 feat: terraform database instances implemented (disable)
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_backups.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_replicas.md
  mgc/terraform-provider-mgc/examples/resources/mgc_dbaas_instances/resource.tf
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances.go
  mgc/terraform-provider-mgc/tests/dbaas/main.tf
Labels: terraform

#1270 feat: add global region
  mgc/cli/docs/audit/event-types/list/help.md
  mgc/cli/docs/audit/events/list/help.md
  mgc/cli/openapis/audit.openapi.yaml
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/static/config/common/list_schemas.go
  openapi-customizations/audit.openapi.yaml
Labels: cli, core

#1292 chore: activate network vpc subnets and subnetpool in terraform
  mgc/terraform-provider-mgc/docs/resources/network_subnetpools.md
  mgc/terraform-provider-mgc/docs/resources/network_vpcs_subnets.md
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/tests/network/main.tf
Labels: terraform

#1294 chore: change dbaas timeout limit
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances_backups.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances_snapshots.go
  mgc/terraform-provider-mgc/tests/dbaas/main.tf
Labels: terraform

#1295 feat: container registry registries resource implemented
  mgc/terraform-provider-mgc/docs/resources/container_registry_registries.md
  mgc/terraform-provider-mgc/mgc/provider/provider.go
  mgc/terraform-provider-mgc/mgc/provider/resource.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_container_registry_registries.go
  mgc/terraform-provider-mgc/tests/container-registry/main.tf
  mgc/terraform-provider-mgc/tests/container-registry/provider.tf
Labels: enhancement, terraform

#1268 feat: tf - add warning when using cli auth
  mgc/core/auth/auth.go
  mgc/terraform-provider-mgc/mgc/client/sdk.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_snapshot.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_volume.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_volume_types.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_engines.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instance.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances_backup.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances_backups.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances_snapshot.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances_snapshots.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbass_instance_types.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_k8s_cluster.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_k8s_flavor.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_k8s_kubeconfig.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_k8s_node.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_k8s_nodepool.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_k8s_version.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_public_ip.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_security_group.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_subnetpool.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_vpc.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_vpc_subnet.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_net_vpcs_interface.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_obj_bucket.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_obj_buckets.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_ssh_keys.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_image.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_machine_instance.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_machine_instances.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_machine_type.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volume_attach.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_container_registry_registries.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances_backups.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances_snapshots.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_k8s_cluster.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_k8s_nodepool.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_public_ips.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_public_ips_attach.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_security_groups.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_security_groups_attach.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_security_groups_rules.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_subnetpools.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_subnetpools_book_cidr.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_vpcs.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_vpcs_interfaces.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_net_vpcs_subnets.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_obj_buckets.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_ssh_keys.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_vm_instances.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_vm_snapshots.go
  mgc/terraform-provider-mgc/mgc/tfutil/mgc_common.go
Labels: terraform

#1296 feat: removing terraform autogen code :)
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/main.go
  mgc/terraform-provider-mgc/mgc/provider.go
  mgc/terraform-provider-mgc/mgc/provider/config.go
  mgc/terraform-provider-mgc/mgc/provider/connection_resource.go
  mgc/terraform-provider-mgc/mgc/provider/create_read_from_list.go
  mgc/terraform-provider-mgc/mgc/provider/diag.go
  mgc/terraform-provider-mgc/mgc/provider/execute.go
  mgc/terraform-provider-mgc/mgc/provider/log.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_connection_create.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_connection_delete.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_connection_link.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_connection_read.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_operation.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_populate_missing_state.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_resource_create.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_resource_delete.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_resource_read.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_resource_read_after.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_resource_set_property.go
  mgc/terraform-provider-mgc/mgc/provider/mgc_resource_update.go
  mgc/terraform-provider-mgc/mgc/provider/property_setter.go
  mgc/terraform-provider-mgc/mgc/provider/resource.go
  mgc/terraform-provider-mgc/mgc/provider/schema.go
  mgc/terraform-provider-mgc/mgc/provider/schema_test.go
  mgc/terraform-provider-mgc/mgc/provider/state.go
  mgc/terraform-provider-mgc/mgc/provider/terraform_params.go
  mgc/terraform-provider-mgc/mgc/provider/tf_state_applier.go
  mgc/terraform-provider-mgc/mgc/provider/tf_state_loader.go
  mgc/terraform-provider-mgc/mgc/provider/tf_state_loader_test.go
  mgc/terraform-provider-mgc/mgc/provider/xof_transforms.go
  mgc/terraform-provider-mgc/mgc/provider/xof_transforms_test.go
Labels: enhancement, terraform

#1224 feat: 🚀 removing embed specs
  ADD_NEW_API.md
  README.md
  mgc/cli/blueprints/index.blueprint.yaml
  mgc/cli/openapis/object-storage.openapi.disabled.yaml
  mgc/sdk/blueprint/.gitattributes
  mgc/sdk/blueprint/README.md
  mgc/sdk/blueprint/check_spec.go
  mgc/sdk/blueprint/child.go
  mgc/sdk/blueprint/child_spec.go
  mgc/sdk/blueprint/condition_spec.go
  mgc/sdk/blueprint/document.go
  mgc/sdk/blueprint/embed_loader.go
  mgc/sdk/blueprint/execute_step.go
  mgc/sdk/blueprint/executor.go
  mgc/sdk/blueprint/executor_result.go
  mgc/sdk/blueprint/executor_spec.go
  mgc/sdk/blueprint/grouper.go
  mgc/sdk/blueprint/grouper_spec.go
  mgc/sdk/blueprint/link_spec.go
  mgc/sdk/blueprint/linker.go
  mgc/sdk/blueprint/logger.go
  mgc/sdk/blueprint/module.go
  mgc/sdk/blueprint/non_embed_loader.go
  mgc/sdk/blueprint/retry_until.go
  mgc/sdk/blueprint/source.go
  mgc/sdk/openapi/embed_loader.go
  mgc/sdk/openapi/non_embed_loader.go
  mgc/sdk/openapi/openapis/audit.openapi.yaml
  mgc/sdk/openapi/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/openapis/container-registry.openapi.yaml
  mgc/sdk/openapi/openapis/dbaas.openapi.yaml
  mgc/sdk/openapi/openapis/index.openapi.yaml
  mgc/sdk/openapi/openapis/kubernetes.openapi.yaml
  mgc/sdk/openapi/openapis/network.openapi.yaml
  mgc/sdk/openapi/openapis/profile.openapi.yaml
  mgc/sdk/openapi/openapis/virtual-machine.openapi.yaml
  mgc/sdk/sdk.go
  mgc/spec_manipulator/build.sh
  mgc/spec_manipulator/cmd/add.go
  mgc/spec_manipulator/cmd/root.go
  mgc/spec_manipulator/go.mod
  mgc/spec_manipulator/go.sum
  mgc/spec_manipulator/specs.yaml
  scripts/add_all_specs.sh
  scripts/add_specs.sh
  scripts/add_specs_without_region.sh
  scripts/blueprint_index_gen.py
  scripts/blueprint_index_gen.sh
  scripts/oapi_apply_customizations.sh
  scripts/oapi_check_links.sh
  scripts/oapi_index_gen.py
  scripts/oapi_index_gen.sh
Labels: core

#1297 chore: removing import example for resources that not yet support
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances.md
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/examples/resources/mgc_dbaas_instances/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_virtual_machine_instances/import.sh
Labels: documentation, terraform
