Repository MagaluCloud/magalu, pull requests merged in 2025-01, with the labels that each got.

#1307 feat: new virtual machine instances and block storage volumes and snapshots terraform contracts
  mgc/cli/docs/block-storage/snapshots/copy/help.md
  mgc/cli/docs/block-storage/volume-types/list/help.md
  mgc/cli/docs/virtual-machine/instances/get/help.md
  mgc/cli/docs/virtual-machine/instances/list/help.md
  mgc/lib/go.mod
  mgc/lib/products/block_storage/volume_types/list.go
  mgc/lib/products/block_storage/volumes/get.go
  mgc/lib/products/block_storage/volumes/list.go
  mgc/sdk/go.mod
  mgc/sdk/openapi/openapis/block-storage.openapi.yaml
  mgc/sdk/openapi/openapis/virtual-machine.openapi.yaml
  mgc/sdk/static/object_storage/common/delete.go
  mgc/spec_manipulator/cli_specs/block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.block-storage.jaxyendy.openapi.json
  mgc/terraform-provider-mgc/docs/data-sources/block_storage_snapshot.md
  mgc/terraform-provider-mgc/docs/data-sources/block_storage_snapshots.md
  mgc/terraform-provider-mgc/docs/data-sources/block_storage_volume.md
  mgc/terraform-provider-mgc/docs/data-sources/block_storage_volumes.md
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_instance.md
  mgc/terraform-provider-mgc/docs/data-sources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/docs/resources/block_storage_snapshots.md
  mgc/terraform-provider-mgc/docs/resources/block_storage_volumes.md
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_instances.md
  mgc/terraform-provider-mgc/examples/resources/mgc_block_storage_snapshots/resource.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_block_storage_volumes/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_block_storage_volumes/resource.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_virtual_machine_instances/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_virtual_machine_instances/resource.tf
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_snapshot.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_volume.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_obj_object.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_obj_objects.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_machine_instance.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_vm_machine_instances.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_snapshots.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_obj_object.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_vm_instances.go
  mgc/terraform-provider-mgc/tests/block-storage/main.tf
  mgc/terraform-provider-mgc/tests/virtual-machine/main.tf
  openapi-customizations/virtual-machine.openapi.yaml
Labels: terraform

#1310 feat [tf] - new resource virtual machine attach interface
  mgc/terraform-provider-mgc/docs/resources/virtual_machine_interface_attach.md
  mgc/terraform-provider-mgc/examples/resources/mgc_virtual_machine_interface_attach/resource.tf
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/mgc/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_vm_interface_attach.go
  mgc/terraform-provider-mgc/tests/virtual-machine-interface-attach/main.tf
  mgc/terraform-provider-mgc/tests/virtual-machine-interface-attach/provider.tf
Labels: enhancement, terraform

#1299 feat: tf - ds - add az list
  mgc/terraform-provider-mgc/docs/data-sources/availability_zones.md
  mgc/terraform-provider-mgc/examples/data-sources/mgc_availability_zones/data-source.tf
  mgc/terraform-provider-mgc/mgc/datasources/mgc_pf_availability_zones.go
  mgc/terraform-provider-mgc/mgc/provider.go
  mgc/terraform-provider-mgc/subcategory.json
Labels: terraform

#1317 chore: remove dbaas backups
  mgc/terraform-provider-mgc/docs/data-sources/dbaas_instances_backup.md
  mgc/terraform-provider-mgc/docs/data-sources/dbaas_instances_backups.md
  mgc/terraform-provider-mgc/docs/resources/dbaas_instances_backups.md
  mgc/terraform-provider-mgc/examples/data-sources/mgc_dbaas_instances_backup/data-source.tf
  mgc/terraform-provider-mgc/examples/data-sources/mgc_dbaas_instances_backups/data-source.tf
  mgc/terraform-provider-mgc/examples/resources/mgc_dbaas_instances_backups/import.sh
  mgc/terraform-provider-mgc/examples/resources/mgc_dbaas_instances_backups/resource.tf
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances_backup.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances_backups.go
  mgc/terraform-provider-mgc/mgc/provider.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_dbaas_instances_backups.go
  mgc/terraform-provider-mgc/tests/az/main.tf
  mgc/terraform-provider-mgc/tests/az/provider.tf
  mgc/terraform-provider-mgc/tests/dbaas/main.tf
  mgc/terraform-provider-mgc/tests/dbaas/main.tftest.hcl
Labels: terraform

#1320 fix: dbaas list snapshots missing property
  mgc/terraform-provider-mgc/mgc/datasources/mgc_dbaas_instances_snapshots.go
  mgc/terraform-provider-mgc/tests/dbaas/main.tf
Labels: bug, terraform

#1323 feat: add encryption support for block storage volumes
  mgc/cli/docs/block-storage/snapshots/copy/help.md
  mgc/lib/go.mod
  mgc/lib/products/block_storage/volume_types/list.go
  mgc/lib/products/block_storage/volumes/create.go
  mgc/lib/products/block_storage/volumes/get.go
  mgc/lib/products/block_storage/volumes/list.go
  mgc/lib/products/doc.go
  mgc/sdk/openapi/openapis/block-storage.openapi.yaml
  mgc/spec_manipulator/cli_specs/block-storage.jaxyendy.openapi.json
  mgc/spec_manipulator/cli_specs/conv.block-storage.jaxyendy.openapi.json
  mgc/terraform-provider-mgc/docs/data-sources/block_storage_volume.md
  mgc/terraform-provider-mgc/docs/data-sources/block_storage_volumes.md
  mgc/terraform-provider-mgc/docs/resources/block_storage_volumes.md
  mgc/terraform-provider-mgc/go.mod
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_volume.go
  mgc/terraform-provider-mgc/mgc/datasources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volumes.go
  mgc/terraform-provider-mgc/tests/block-storage/main.tf
Labels: enhancement, terraform

#1324 chore: upgrade precommit to v5
  .pre-commit-config.yaml
Labels: pipeline

#1327 chore - add license files
  mgc/cli/LICENSE
  mgc/codegen/LICENSE
  mgc/core/LICENSE
  mgc/lib/LICENSE
  mgc/sdk/LICENSE
Labels: core

#1331 fix: handling of availability zones for block storage volumes
  mgc/terraform-provider-mgc/mgc/resources/mgc_bs_volumes.go
Labels: bug, terraform
